In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
coaches=pd.read_excel('newcoaches.xlsx').drop(columns='Unnamed: 0')

In [3]:
team_stats=pd.read_excel('teamstats.xlsx').drop(columns='Unnamed: 0')

In [4]:
opp_stats=pd.read_excel('oppstats.xlsx').drop(columns='Unnamed: 0')

In [5]:
form=pd.read_excel('formations.xlsx').drop(columns='Unnamed: 0')

In [6]:
poss=pd.read_excel('possession.xlsx').drop(columns='Unnamed: 0')

In [7]:
total=pd.read_excel('total.xlsx').drop(columns='Unnamed: 0')

In [8]:
other=pd.read_excel('other.xlsx').drop(columns='Unnamed: 0')

In [9]:
total.shape,other.shape,team_stats.shape,opp_stats.shape,coaches.shape,poss.shape,form.shape

((1505, 1), (1505, 1), (1520, 10), (1520, 10), (1520, 2), (1520, 2), (1520, 2))

In [10]:
poss[poss.isnull().any(axis=1)]

        0    1
69    NaN  NaN
104   NaN  NaN
143   NaN  NaN
276   NaN  NaN
360   NaN  NaN
370   NaN  NaN
371   NaN  NaN
372   NaN  NaN
373   NaN  NaN
374   NaN  NaN
375   NaN  NaN
376   NaN  NaN
377   NaN  NaN
378   NaN  NaN
379   NaN  NaN
1212  NaN  NaN

In [11]:
day=[]
date=[]
stadium=[]
place=[]
for num,i in enumerate(other[0]):
    li=i.replace('\n',' ').strip().split('  ')
    if len(li)>12:        
        day.append(li[3].split(',')[0])
        date.append(li[3].split(',')[1].replace('\t',''))
        stadium.append(li[-4].split('-')[0])
        place.append(li[-4].split('-')[1].replace('\t',''))
    else:
        day.append(li[3].split(',')[0])
        date.append(li[3].split(',')[1].replace('\t',''))
        stadium.append(li[-1].split('-')[0])
        place.append(li[-1].split('-')[1].replace('\t',''))

In [12]:
teams=pd.DataFrame()
teams['Day']=day
teams['Date']=date
teams['Stadium']=stadium
teams['Place']=place

In [13]:
team=[]
team_score=[]
opp_team_score=[]
opp_team=[]
for i in total[0]:
    te=i.replace('\n',' ').strip().split('    ')
    team.append(te[0])
    team_score.append(te[1])
    opp_team.append(te[-1])
    opp_team_score.append(te[-3])

In [14]:
fscores=[]
for i in range(len(team)):
    f=str(team_score[i])+'-'+str(opp_team_score[i])
    fscores.append(f)

In [15]:
scores=pd.DataFrame()
scores['Team']=team
scores['Score']=fscores
scores['Opp_team']=opp_team
scores['Team_score']=team_score
scores['Opp_team_score']=opp_team_score

In [16]:
half_team_stats=team_stats[team_stats.isnull().any(axis=1)].dropna(how='all').shift(1,axis=1).drop(columns='possession')

In [17]:
half_opp_stats=opp_stats[team_stats.isnull().any(axis=1)].dropna(how='all')
half_opp_stats.columns=['opp_YELLOW CARDS', 'opp_RED CARDS', 'opp_FOULS WON','opp_FOULS COMMITTED', 'opp_BALL GIVEN AWAY', 'opp_BALL RECOVERED', 'opp_OFFSIDE','opp_penalties', 'opp_GOALKEEPER INTERVENTIONS','poss']
half_opp_stats.drop(columns='poss',inplace=True)

In [18]:
first_team_stats=team_stats.dropna().drop(columns='possession')
first_team_stats.columns=['GOALKEEPER INTERVENTIONS','YELLOW CARDS', 'RED CARDS', 'FOULS WON','FOULS COMMITTED', 'BALL GIVEN AWAY', 'BALL RECOVERED', 'OFFSIDE','penalties']

In [19]:
team_full_stats=pd.concat([first_team_stats,half_team_stats])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [20]:
first_opp_stats=opp_stats.dropna().drop(columns='possession')
first_opp_stats.columns=['opp_GOALKEEPER INTERVENTIONS','opp_YELLOW CARDS', 'opp_RED CARDS', 'opp_FOULS WON','opp_FOULS COMMITTED', 'opp_BALL GIVEN AWAY', 'opp_BALL RECOVERED', 'opp_OFFSIDE','opp_penalties']

In [21]:
opp_full_stats=pd.concat([first_opp_stats,half_opp_stats])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [22]:
form.dropna(inplace=True)
form.reset_index(inplace=True)
form.drop(columns='index',inplace=True)
form.columns=['Team_formation','opp_team_formation']

In [23]:
coaches.dropna(inplace=True)
coaches.reset_index(inplace=True)
coaches.drop(columns='index',inplace=True)
coaches.columns=['Team_coach','opp_team_coach']

In [24]:
poss.dropna(inplace=True)
poss.reset_index(inplace=True)
poss.drop(columns='index',inplace=True)
poss.columns=['Team_possession','opp_team_possession']

In [25]:
opp_full_stats.reset_index(inplace=True)
opp_full_stats.drop(columns='index',inplace=True)
team_full_stats.reset_index(inplace=True)
team_full_stats.drop(columns='index',inplace=True)

In [26]:
half_df=pd.concat([scores,teams,coaches,form],axis=1)
half_df.drop(index=[1212],inplace=True)
half_df.reset_index(inplace=True)
half_df.drop(columns='index',inplace=True)

In [27]:
final=pd.concat([half_df,team_full_stats,opp_full_stats],axis=1)

In [33]:
final.head()

,Team,Score,Opp_team,Team_score,Opp_team_score,Day,Date,Stadium,Place,Team_coach,...,penalties,opp_BALL GIVEN AWAY,opp_BALL RECOVERED,opp_FOULS COMMITTED,opp_FOULS WON,opp_GOALKEEPER INTERVENTIONS,opp_OFFSIDE,opp_RED CARDS,opp_YELLOW CARDS,opp_penalties
0,Girona,0-0,Valladolid,0,0,Friday,17/08/2018,Municipal de Montilivi,Girona,Eusebio Sacristán,...,0.0,143.0,60.0,20.0,17.0,2.0,1.0,0.0,1.0,0.0
1,Betis,0-3,Levante,0,3,Friday,17/08/2018,Benito Villamarín,Sevilla,Quique Setién,...,0.0,126.0,63.0,10.0,10.0,8.0,4.0,0.0,2.0,0.0
2,Celta,1-1,Espanyol,1,1,Saturday,18/08/2018,Balaídos,Pontevedra,Antonio Mohamed,...,0.0,138.0,56.0,14.0,13.0,2.0,1.0,0.0,2.0,0.0
3,Villarreal,1-2,R. Sociedad,1,2,Saturday,18/08/2018,Estadio de la Cerámica,Castellón,Javier Calleja,...,0.0,132.0,58.0,10.0,16.0,6.0,4.0,0.0,3.0,0.0
4,Barcelona,3-0,Alavés,3,0,Saturday,18/08/2018,Camp Nou,Barcelona,Ernesto Valverde,...,0.0,105.0,57.0,13.0,5.0,6.0,0.0,0.0,2.0,0.0

In [34]:
final.to_excel('Final.xlsx')